/*
 * Copyright (c) 2017 Andreas Färber
 *
 * SPDX-License-Identifier: GPL-2.0+ OR MIT
 */

/dts-v1/;
/plugin/;

/ {
	compatible = "brcm,bcm2837";

	#address-cells = <1>;
	#size-cells = <0>;

	fragment@0 {
		reg = <0>;

		target = <&spi>;

		__overlay__ {
			/*status = "okay";
			pinctrl-names = "default";
			pinctrl-0 = <&spi0_gpio7>;*/

			#address-cells = <1>;
			#size-cells = <0>;

			lora@0 {
				compatible = "semtech,sx1276";
				reg = <0>;
				spi-max-frequency = <500000>;
				clock-frequency = <32000000>;
				radio-frequency = <868000000>;
				reset-gpios = <&gpio 17 1>;
				dio-gpios = <&gpio 4 1>,
				            <&gpio 23 1>,
				            <&gpio 24 1>,
				            <0>,
				            <0>,
				            <0>;
			};

			fsk@1 {
				compatible = "silabs,si4432";
				reg = <1>;
				spi-max-frequency = <500000>;
				radio-frequency = <433000000>;
				nirq-gpio = <&gpio 22 1>;
			};
		};
	};
};
