/* SPDX-License-Identifier: GPL-2.0-or-later OR MIT */
/*
 * Copyright (c) 2018 Andreas Färber
 */

/dts-v1/;
/plugin/;

/ {
	#address-cells = <1>;
	#size-cells = <0>;

	fragment@0 {
		reg = <0>;

		target = <&spi0>;

		__overlay__ {
			status = "okay";

			#address-cells = <1>;
			#size-cells = <0>;

			lora@0 {
				compatible = "semtech,sx1301";
				reg = <0>;
				spi-max-frequency = <10000000>;
				/* GPIO 17 == PC7 */
				reset-gpios = <&pio 2 7 0>;

				radio-spi {
					#address-cells = <1>;
					#size-cells = <0>;

					lora@0 {
						compatible = "semtech,sx1257";
						reg = <0>;
					};

					lora@1 {
						compatible = "semtech,sx1257";
						reg = <1>;
					};
				};
			};
		};
	};
};
